[submodule "src/plugins/win32/SamplePlugin"]
	path = src/plugins/win32/SamplePlugin
	url = https://github.com/krkrz/SamplePlugin.git
[submodule "src/plugins/win32/opus"]
	path = src/plugins/win32/opus
	url = https://github.com/krkrz/wuopus.git
[submodule "src/plugins/win32/resourceEdit"]
	path = src/plugins/win32/resourceEdit
	url = https://github.com/krkrz/resourceEdit.git
[submodule "src/plugins/win32/theora"]
	path = src/plugins/win32/theora
	url = https://github.com/krkrz/krdstheora.git
[submodule "src/plugins/win32/videoEncoder"]
	path = src/plugins/win32/videoEncoder
	url = https://github.com/krkrz/videoEncoder.git
[submodule "src/plugins/win32/menu"]
	path = src/plugins/win32/menu
	url = https://github.com/krkrz/menu.git
[submodule "src/plugins/win32/wic"]
	path = src/plugins/win32/wic
	url = https://github.com/krkrz/wic.git
[submodule "script/Sample"]
	path = script/Sample
	url = https://github.com/krkrz/SampleScript.git
[submodule "script/Krkr2Compat"]
	path = script/Krkr2Compat
	url = https://github.com/krkrz/Krkr2Compat.git
[submodule "script/test"]
	path = script/test
	url = https://github.com/krkrz/test_scripts.git
[submodule "script/KAG3_Ham"]
	path = script/KAG3_Ham
	url = https://github.com/krkrz/kag3_ham.git
[submodule "script/KAG3"]
	path = script/KAG3
	url = https://github.com/krkrz/kag3.git
[submodule "bin"]
	path = bin
	url = https://github.com/krkrz/release_binary.git
[submodule "document/kirikiriz"]
	path = document/kirikiriz
	url = https://github.com/krkrz/krkrz-documents.git
[submodule "document/misc_markdown"]
	path = document/misc_markdown
	url = https://github.com/krkrz/documents.git
[submodule "src/tools/dotNet/tjs2doc"]
	path = src/tools/dotNet/tjs2doc
	url = https://github.com/krkrz/tjs2doc.git
[submodule "src/plugins/win32/sqlite3_xp3_vfs"]
	path = src/plugins/win32/sqlite3_xp3_vfs
	url = https://github.com/krkrz/sqlite3_xp3_vfs.git
[submodule "src/tools/win32/debugger"]
	path = src/tools/win32/debugger
	url = https://github.com/krkrz/debugger.git
[submodule "src/plugins/win32/fftgraph"]
	path = src/plugins/win32/fftgraph
	url = https://github.com/krkrz/fftgraph.git
[submodule "src/plugins/win32/KAGParser"]
	path = src/plugins/win32/KAGParser
	url = https://github.com/krkrz/KAGParser.git
[submodule "src/plugins/win32/qrcode"]
	path = src/plugins/win32/qrcode
	url = https://github.com/krkrz/qrcode.git
[submodule "src/plugins/win32/registory"]
	path = src/plugins/win32/registory
	url = https://github.com/krkrz/registory.git
[submodule "src/plugins/win32/wumsadp"]
	path = src/plugins/win32/wumsadp
	url = https://github.com/krkrz/wumsadp.git
[submodule "src/plugins/win32/wuvorbis"]
	path = src/plugins/win32/wuvorbis
	url = https://github.com/krkrz/wuvorbis.git
[submodule "src/core"]
	path = src/core
	url = https://github.com/krkrz/krkrz.git
[submodule "src/plugins/win32/KAGParserEx"]
	path = src/plugins/win32/KAGParserEx
	url = https://github.com/wtnbgo/KAGParserEx.git
[submodule "src/plugins/win32/addFont"]
	path = src/plugins/win32/addFont
	url = https://github.com/wtnbgo/addFont.git
[submodule "src/plugins/win32/binaryStream"]
	path = src/plugins/win32/binaryStream
	url = https://github.com/wtnbgo/binaryStream.git
[submodule "src/plugins/win32/csvParser"]
	path = src/plugins/win32/csvParser
	url = https://github.com/wtnbgo/csvParser.git
[submodule "src/plugins/win32/fpslimit"]
	path = src/plugins/win32/fpslimit
	url = https://github.com/wtnbgo/fpslimit.git
[submodule "src/plugins/win32/fstat"]
	path = src/plugins/win32/fstat
	url = https://github.com/wtnbgo/fstat.git
[submodule "src/plugins/win32/getSample"]
	path = src/plugins/win32/getSample
	url = https://github.com/wtnbgo/getSample.git
[submodule "src/plugins/win32/httprequest"]
	path = src/plugins/win32/httprequest
	url = https://github.com/wtnbgo/httprequest.git
[submodule "src/plugins/win32/httpserv"]
	path = src/plugins/win32/httpserv
	url = https://github.com/wtnbgo/httpserv.git
[submodule "src/plugins/win32/json"]
	path = src/plugins/win32/json
	url = https://github.com/wtnbgo/json.git
[submodule "src/plugins/win32/layerEx"]
	path = src/plugins/win32/layerEx
	url = https://github.com/wtnbgo/layerEx.git
[submodule "src/plugins/win32/layerExAreaAverage"]
	path = src/plugins/win32/layerExAreaAverage
	url = https://github.com/wtnbgo/layerExAreaAverage.git
[submodule "src/plugins/win32/layerExBTOA"]
	path = src/plugins/win32/layerExBTOA
	url = https://github.com/wtnbgo/layerExBTOA.git
[submodule "src/plugins/win32/layerExDraw"]
	path = src/plugins/win32/layerExDraw
	url = https://github.com/wtnbgo/layerExDraw.git
[submodule "src/plugins/win32/layerExImage"]
	path = src/plugins/win32/layerExImage
	url = https://github.com/wtnbgo/layerExImage.git
[submodule "src/plugins/win32/layerExLongExposure"]
	path = src/plugins/win32/layerExLongExposure
	url = https://github.com/wtnbgo/layerExLongExposure.git
[submodule "src/plugins/win32/layerExRaster"]
	path = src/plugins/win32/layerExRaster
	url = https://github.com/wtnbgo/layerExRaster.git
[submodule "src/plugins/win32/layerExSave"]
	path = src/plugins/win32/layerExSave
	url = https://github.com/wtnbgo/layerExSave.git
[submodule "src/plugins/win32/lineParser"]
	path = src/plugins/win32/lineParser
	url = https://github.com/wtnbgo/lineParser.git
[submodule "src/plugins/win32/memfile"]
	path = src/plugins/win32/memfile
	url = https://github.com/wtnbgo/memfile.git
[submodule "src/plugins/win32/messenger"]
	path = src/plugins/win32/messenger
	url = https://github.com/wtnbgo/messenger.git
[submodule "src/plugins/win32/minizip"]
	path = src/plugins/win32/minizip
	url = https://github.com/wtnbgo/minizip.git
[submodule "src/plugins/win32/msgreceiver"]
	path = src/plugins/win32/msgreceiver
	url = https://github.com/wtnbgo/msgreceiver.git
[submodule "src/plugins/win32/ncbind"]
	path = src/plugins/win32/ncbind
	url = https://github.com/wtnbgo/ncbind.git
[submodule "src/plugins/win32/process"]
	path = src/plugins/win32/process
	url = https://github.com/wtnbgo/process.git
[submodule "src/plugins/win32/psdfile"]
	path = src/plugins/win32/psdfile
	url = https://github.com/wtnbgo/psdfile.git
[submodule "src/plugins/win32/resourceRW"]
	path = src/plugins/win32/resourceRW
	url = https://github.com/wtnbgo/resourceRW.git
[submodule "src/plugins/win32/saveStruct"]
	path = src/plugins/win32/saveStruct
	url = https://github.com/wtnbgo/saveStruct.git
[submodule "src/plugins/win32/scriptsEx"]
	path = src/plugins/win32/scriptsEx
	url = https://github.com/wtnbgo/scriptsEx.git
[submodule "src/plugins/win32/shellExecute"]
	path = src/plugins/win32/shellExecute
	url = https://github.com/wtnbgo/shellExecute.git
[submodule "src/plugins/win32/shrinkCopy"]
	path = src/plugins/win32/shrinkCopy
	url = https://github.com/wtnbgo/shrinkCopy.git
[submodule "src/plugins/win32/sigcheck"]
	path = src/plugins/win32/sigcheck
	url = https://github.com/wtnbgo/sigcheck.git
[submodule "src/plugins/win32/stdio"]
	path = src/plugins/win32/stdio
	url = https://github.com/wtnbgo/stdio.git
[submodule "src/plugins/win32/steam"]
	path = src/plugins/win32/steam
	url = https://github.com/wtnbgo/steam.git
[submodule "src/plugins/win32/systemEx"]
	path = src/plugins/win32/systemEx
	url = https://github.com/wtnbgo/systemEx.git
[submodule "src/plugins/win32/tftSave"]
	path = src/plugins/win32/tftSave
	url = https://github.com/wtnbgo/tftSave.git
[submodule "src/plugins/win32/varfile"]
	path = src/plugins/win32/varfile
	url = https://github.com/wtnbgo/varfile.git
[submodule "src/plugins/win32/win32dialog"]
	path = src/plugins/win32/win32dialog
	url = https://github.com/wtnbgo/win32dialog.git
[submodule "src/plugins/win32/win32ole"]
	path = src/plugins/win32/win32ole
	url = https://github.com/wtnbgo/win32ole.git
[submodule "src/plugins/win32/windowEx"]
	path = src/plugins/win32/windowEx
	url = https://github.com/wtnbgo/windowEx.git
[submodule "src/plugins/win32/windowExProgress"]
	path = src/plugins/win32/windowExProgress
	url = https://github.com/wtnbgo/windowExProgress.git
